body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272f3f;
  max-height: -webkit-fill-available;
}

a {
  all: unset;
}
